In [40]:
import numpy as np
import pandas as pd
from sklearn.svm import SVC

1. Загрузите выборку из файла svm-data.csv. В нем записана двумерная выборка (целевая переменная указана в первом столбце, признаки — во втором и третьем).

2. Обучите классификатор с линейным ядром, параметром C = 100000 и random_state=241. Такое значение параметра нужно использовать, чтобы убедиться, что SVM работает с выборкой как с линейно разделимой. При более низких значениях параметра алгоритм будет настраиваться с учетом слагаемого в функционале, штрафующего за маленькие отступы, из-за чего результат может не совпасть с решением классической задачи SVM для линейно разделимой выборки.

3. Найдите номера объектов, которые являются опорными (нумерация с единицы). Они будут являться ответом на задание. Обратите внимание, что в качестве ответа нужно привести номера объектов в возрастающем порядке через запятую или пробел. Нумерация начинается с 1.

In [41]:
data = pd.read_csv('svm-data.csv', header = None)

In [42]:
data

     0     1     2
0  0.0  0.70  0.29
1  1.0  0.23  0.55
2  0.0  0.72  0.42
3  0.0  0.98  0.68
4  0.0  0.48  0.39
5  1.0  0.34  0.73
6  0.0  0.44  0.06
7  1.0  0.40  0.74
8  0.0  0.18  0.18
9  1.0  0.53  0.53

In [43]:
X = data.iloc[:, 1:3]
y = data.iloc[:, 0]

In [44]:
clf = SVC(C=100000, kernel='linear', random_state=241)
clf.fit(X,y)

SVC(C=100000, kernel='linear', random_state=241)

Найдите номера объектов, которые являются опорными

In [53]:
clf.support_

array([3, 4, 9])

In [54]:
n_sv = clf.support_

In [55]:
n_sv
' '.join([str(n+1) for n in n_sv])

'4 5 10'

In [56]:
clf.support_vectors_

array([[0.98, 0.68],
       [0.48, 0.39],
       [0.53, 0.53]])